.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;

    & .activities {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        & img {
            border-radius: 10px;
            width: 500px;
            height: auto;
        }
    }

    & .hidden {
        display: none;
    }

    & .content {
        width: 100%;

        & .about {
            & h4 {
                font-size: 18px;
                font-weight: 600;

                & span {
                    color: var(--irisBlueColor);
                    font-size: 20px;
                }
            }

            & p {
                font-size: 16px;
                margin-top: 10px;
                text-align: justify;
            }
        }

        & .education {
            margin-top: 50px;

            & h4 {
                font-size: 18px;
                font-weight: 600;
            }

            & .education-details {
                margin-top: 15px;

                & .education-detail {
                    margin-top: 10px;

                    & p {
                        font-size: 16px;
                        color: var(--irisBlueColor);
                        font-weight: 500;
                    }

                    & .education-location {
                        display: flex;
                        align-items: center;
                        gap: 100px;
                        font-weight: 500;

                        & p {
                            color: #000000;
                            font-weight: normal;
                        }
                    }
                }
            }
        }

        & .experience {
            margin-top: 50px;

            & h4 {
                font-size: 18px;
                font-weight: 600;
            }

            & .experience-details {
                display: flex;
                align-items: center;
                justify-content: space-between;

                & .experience-detail {
                    background-color: #fff9ea;
                    margin-top: 10px;
                    padding: 20px 30px;
                    border-radius: 10px;

                    & p:first-child {
                        color: var(--yellowColor);
                        font-weight: 600;
                    }

                    & p:nth-child(2) {
                        margin-top: 5px;
                    }
                }
            }
        }

        & .relevant-videos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            & iframe {
                border-radius: 10px;
                width: 300px;
                height: auto;
            }
        }
    }
}
