.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .selection {
        display: flex;
        flex-direction: column;
        gap: 2px;

        & h4 {
            font-size: 18px !important;
            font-weight: 600 !important;
            color: black !important;
        }
    }

    & .hide {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 15px;
        width: 100%;

        & .selection {
            width: 100%;

            & h4 {
                font-size: 20px !important;
            }
        }
    }
}
