.container {
    margin-top: 15px;

    & .prescription {
        width: 100%;

        & .brand {
            display: flex;
            align-items: center;
            gap: 15px;
            width: 100%;

            & img {
                width: 100px;
                height: 100px;
            }

            & div {
                & h4 {
                    font-size: 20px;
                    font-weight: 600;
                    color: var(--irisBlueColor);
                }

                & p {
                    font-size: 18px;
                    color: var(--irisBlueColor);
                }
            }
        }

        & h1 {
            font-size: 30px;
            font-weight: 500;
            color: var(--primaryColor);
            margin: 20px 0;
            text-align: center;
        }

        & .patient-info {
            display: flex;
            flex-direction: column;
            gap: 10px;

            & span {
                display: flex;
                justify-content: space-between;

                & p {
                    font-size: 20px;
                }
            }

            & p {
                font-size: 20px;
            }

            & .gender {
                text-transform: capitalize;
            }

            & .disease {
                display: flex;
                align-items: center;
                gap: 5px;

                & b {
                    font-size: 20px;
                }

                & input {
                    outline: none;
                    border: 2px solid var(--primaryColor);
                    border-radius: 5px;
                    padding: 5px 10px;
                    font-size: 20px;
                    width: 400px;
                }
            }
        }

        & .medications {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            gap: 50px;

            & .medication {
                display: flex;
                align-items: center;
                gap: 20px;

                & div:first-child {
                    width: 90%;

                    & .upper-part {
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        & b {
                            font-size: 20px;
                        }
                    }

                    & .lower-part {
                        margin-top: 20px;
                        margin-left: 18px;
                        display: grid;
                        grid-template-columns: repeat(2, auto);
                        flex-wrap: wrap;
                        gap: 10px;
                        width: calc(100% - 18px);

                        & div {
                            display: flex;
                            align-items: center;
                            margin: 0;
                            gap: 10px;

                            & input {
                                width: 50px;
                                text-align: center;
                                font-size: 20px;
                                margin: 0;
                                outline: none;
                                border: 2px solid var(--primaryColor);
                                border-radius: 5px;
                                padding: 5px;
                                font-size: 20px;
                            }

                            & input[type='number']::-webkit-outer-spin-button,
                            & input[type='number']::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }

                            &:nth-child(5) {
                                & input {
                                    width: 110px;
                                }
                            }
                        }
                    }
                }

                & .delete {
                    padding: 12px;
                    border-radius: 100px;
                    overflow: hidden;
                    white-space: nowrap;
                    cursor: pointer;
                    background-color: red;

                    &:hover {
                        opacity: 0.8;
                    }

                    & .icon {
                        color: var(--whiteColor);
                        font-size: 18px;
                    }
                }
            }

            & .add-button {
                background-color: var(--darkGrayColor);
                width: 200px;
                height: 50px;
                border-radius: 5px;
                color: var(--whiteColor);
                font-size: 18px;
                margin-top: 20px;

                &:hover {
                    opacity: 0.7;
                }
            }

            & h4 {
                font-size: 20px;
                font-weight: 500;
                color: var(--primaryColor);
            }
        }

        & .advice {
            margin-top: 10px;

            & b {
                font-size: 20px;
            }

            & textarea {
                outline: none;
                border: 2px solid var(--primaryColor);
                border-radius: 5px;
                width: 100%;
                margin-top: 5px;
                font-size: 20px;
                padding: 15px;
            }
        }

        & .notes {
            margin-top: 10px;

            & b {
                font-size: 20px;
            }

            & ul {
                margin-left: 18px;

                & li {
                    font-size: 20px;
                    list-style-type: circle;
                }
            }
        }

        & .confirmation {
            width: 100%;
            display: flex;
            margin-top: 50px;
            justify-content: flex-end;

            & > div {
                display: flex;
                flex-direction: column;
                align-items: center;

                & h4 {
                    font-size: 20px;
                    font-weight: 500;
                    color: var(--irisBlueColor);
                }

                & span {
                    position: relative;
                    margin: 5px 0;
                    width: 300px;
                    display: flex;
                    flex-direction: column;

                    & img + img {
                        position: absolute;
                        z-index: 1;
                    }

                    & img:first-child {
                        width: 150px;
                        height: 150px;
                    }

                    & img:last-child {
                        width: 200px;
                        top: 30px;
                        left: 40px;
                    }
                }

                & p {
                    font-size: 20px;
                    font-weight: 500;
                }

                & div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 10px;
                    background: var(--buttonBgColor);
                    border-radius: 5px;
                    width: 180px;
                    height: 45px;

                    &:hover {
                        cursor: pointer;
                        opacity: 0.8;
                    }

                    & input {
                        display: none;
                    }

                    & label {
                        color: var(--whiteColor);
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }
        }

        & .submit-btn {
            background: var(--buttonBgColor);
            color: var(--whiteColor);
            width: 100%;
            height: 50px;
            font-size: 18px;
            font-weight: 500;
            border-radius: 5px;
            margin-top: 50px;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

// Responsive design
@media only screen and (max-width: 768px) {
    .container {
        & .prescription {
            width: 100%;

            & .brand {
                gap: 10px;

                & img {
                    width: 70px;
                    height: 70px;
                }

                & div {
                    & h4 {
                        font-size: 18px;
                    }

                    & p {
                        font-size: 16px;
                    }
                }
            }

            & h1 {
                font-size: 25px;
            }

            & .patient-info {
                gap: 0;

                & p {
                    font-size: 18px;
                }

                & span {
                    flex-direction: column;

                    & p {
                        font-size: 18px;
                    }
                }

                & .disease {
                    & b {
                        font-size: 18px;
                    }

                    & input {
                        font-size: 18px;
                        height: 35px;
                    }
                }
            }

            & .medications {
                gap: 30px;

                & .medication {
                    flex-direction: column;
                    gap: 10px;

                    & div:first-child {
                        width: 100%;
                        margin-right: auto;

                        & .upper-part {
                            & b {
                                font-size: 18px;
                            }

                            & input {
                                font-size: 18px;
                            }
                        }

                        & .lower-part {
                            grid-template-columns: 1fr;
                        }
                    }

                    & .delete {
                        margin: 0;
                        margin-left: auto;
                    }
                }

                & .add-button {
                    margin-top: 0;
                    font-size: 16px;
                    width: 150px;
                    height: 45px;
                }

                & h4 {
                    font-size: 18px;
                }
            }

            & .advice {
                & b {
                    font-size: 18px;
                }

                & textarea {
                    font-size: 18px;
                }
            }

            & .notes {
                & b {
                    font-size: 18px;
                }

                & ul {
                    & li {
                        font-size: 18px;
                    }
                }
            }

            & .confirmation {
                margin-top: 25px;

                & > div {
                    transform: translateX(12.5%);

                    & h4 {
                        font-size: 18px;
                    }

                    & span {
                        align-items: center;

                        & img:first-child {
                            width: 90px;
                            height: 90px;
                        }

                        & img:last-child {
                            width: 120px;
                            top: 20px;
                            left: 90px;
                        }
                    }

                    & p {
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
