.container {
    background-color: var(--whiteColor);
    padding: 30px 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .close-icon-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        & .close-icon {
            font-size: 25px;
            font-weight: 600;
            border-radius: 3px;
            margin-right: -20px;

            &:hover {
                cursor: pointer;
                background-color: red;
            }
        }
    }

    & h1 {
        font-size: 30px;
        font-weight: 500;
        color: var(--primaryColor);
    }

    & .voting {
        margin-top: 30px;
        width: 100%;

        & .question {
            font-size: 18px;
            font-weight: 500;
        }

        & .star {
            font-size: 30px;
            margin-top: 10px;
        }

        & .active {
            color: var(--yellowColor);
        }

        & .disabled {
            color: var(--darkGrayColor);
        }
    }

    & .suggestion {
        margin-top: 30px;
        width: 100%;

        & .question {
            font-size: 18px;
            font-weight: 500;
        }

        & textarea {
            width: 100%;
            padding: 20px;
            border: 2px solid #0066ff34;
            margin-top: 20px;
            border-radius: 5px;

            &:focus {
                outline: var(--primaryColor);
            }
        }
    }

    & .submit-btn {
        padding: 10px 0;
        width: 200px;
        border-radius: 5px;
        color: var(--whiteColor);
        font-size: 16px;
        font-weight: 500;
        background: var(--buttonBgColor);
        margin-top: 20px;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }
}

// Responsive
@media only screen and (max-width: 768px) {
    .container {
        padding: 20px;

        & .close-icon-wrapper {
            & .close-icon {
                margin-right: 0;
            }
        }

        & h1 {
            font-size: 25px;
        }

        & .voting {
            margin-top: 20px;
        }

        & .suggestion {
            margin-top: 15px;

            & textarea {
                margin-top: 10px;
                height: 120px;
                padding: 10px 15px;
            }
        }

        & .submit-btn {
            width: 100%;
        }
    }
}
