.container {
    padding: 140px 120px 100px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/images/Blur.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    & .doctors-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;

        & h2 {
            line-height: 60px;
            font-size: 50px;
            font-weight: 700;
        }

        & .description {
            margin-top: 10px;
            font-size: 18px;
        }

        & .doctors {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-content: center;
            gap: 35px;
            margin-top: 40px;
        }
    }
}

// Responsive
@media only screen and (max-width: 768px) {
    .container {
        padding: 80px 20px 50px 20px;

        & .doctors-wrapper {
            margin-top: 50px;

            & h2 {
                font-size: 32px;
                line-height: normal;
            }

            & .description {
                font-size: 16px;
                margin-top: 5px !important;
                width: 100%;
                text-align: center;
            }

            & .doctors {
                grid-template-columns: 1fr;
            }
        }
    }
}
