.container {
    & header {
        font-size: 22px;
        font-weight: 700;
        padding: 5px 15px;
        margin-top: 10px;
    }

    & .notifications {
        display: flex;
        flex-direction: column;
        padding: 5px 0 10px 0;

        & .notification {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            padding: 5px 15px;
            transition: all 0.3s ease;

            &:hover:not(.cancelledStatus) {
                background: var(--extremeLightGrayColor);
                cursor: pointer;
                transform: translateX(2px);
            }

            &.cancelledStatus {
                cursor: not-allowed !important;
            }

            &.doneStatus {
                display: none;
            }

            &:hover {
                background-color: var(--extremeLightGrayColor);
                cursor: pointer;
            }

            & img {
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 100px;
            }

            & .details {
                display: flex;
                flex-direction: column;
                gap: 2px;

                & p:first-child {
                    font-size: 14px;
                    font-weight: 500;
                    // width: 330px;
                }

                & p:last-child {
                    font-size: 12px;
                    color: var(--darkGrayColor);
                }
            }
        }
    }

    & .no-noti {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 15px;

        & div {
            padding: 15px;
            background-color: var(--extremeLightGrayColor);
            border-radius: 100px;

            & .icon {
                font-size: 40px;
                color: var(--darkGrayColor);
            }
        }

        & p {
            color: var(--darkGrayColor);
            text-align: center;
            font-size: 14px;
        }
    }
}

// Responsive design
@media only screen and (max-width: 768px) {
    .container {
        & header {
            display: flex;
            align-items: center;
            gap: 10px;

            & .icon {
                font-size: 26px;
            }
        }

        & .notifications {
            & .notification {
                padding: 10px 15px !important;

                & img {
                    transform: translateY(-25%);
                }

                & .details {
                    & p:first-child {
                        font-size: 16px !important;
                    }
                    & p:last-child {
                        font-size: 14px !important;
                    }
                }
            }
        }

        & .no-noti {
            justify-content: center;
            height: calc(100vh - 150px);
            gap: 20px;

            & div {
                & .icon {
                    font-size: 60px;
                }
            }

            & p {
                font-size: 16px;
            }
        }
    }
}
