.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;

    & img {
        height: 550px;
    }

    & .content {
        width: 50%;

        & h2 {
            line-height: 60px;
            font-size: 50px;
            font-weight: 700;
            margin-bottom: 20px;
        }
    }

    & .faqs {
        margin-top: 50px;

        & .faq {
            padding: 8px 15px;
            border: 2px solid #d9dce2;
            border-radius: 12px;
            margin-top: 25px;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        & .open {
            animation: open-faq 0.3s ease-in-out forwards;
        }

        & .close {
            animation: close-faq 0.3s ease-in-out forwards;
        }

        & .question {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & p {
                font-size: 18px;
                color: var(--headingColor);
                line-height: 40px;
            }

            & p:first-child {
                font-weight: 600;
            }

            & .icon {
                width: 30px;
                height: 30px;
                border: 2px solid #141f21;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    cursor: pointer;
                    border: 2px solid var(--irisBlueColor);
                    background-color: var(--irisBlueColor);
                    color: var(--whiteColor);
                }
            }
        }

        & .answer {
            margin-top: 10px;
            text-align: justify;
        }
    }
}

@keyframes open-faq {
    from {
        overflow: hidden;
        height: 60px;
    }
    to {
        overflow: auto;
        height: 150px;
    }
}

@keyframes close-faq {
    from {
        overflow: auto;
        height: 150px;
    }
    to {
        overflow: hidden;
        height: 60px;
    }
}
