.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.container img {
    width: 60px;
}

.container h4 {
    margin-top: 25px;
    font-size: 18px;
    color: var(--darkGrayColor);
}
