.container {
    & .pending-noti {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        background-color: var(--lightYellowColor);
        border-radius: 5px;
        width: 100%;
        margin: 15px 0;

        & .icon {
            color: var(--darkYellowColor);
            font-size: 20px;
        }
    }
}
