.container {
    width: 100%;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.item {
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    position: relative;

    .icon {
        font-size: 60px;
        padding: 12px;
        background-color: var(--whiteColor);
        border-radius: 20px;
    }

    .svg-img {
        position: absolute;
        top: 0;
        right: 0;
    }

    .content {
        margin-top: 20px;

        & p {
            color: var(--darkGrayColor);
            font-size: 18px;
            font-weight: 600;
        }

        & h4 {
            font-size: 30px;
            font-weight: 700;
            line-height: 30px;
            margin-top: 10px;
        }
    }
}

.item:first-child {
    background-color: #bceafe;

    .icon {
        color: #bceafe;
    }
}

.item:nth-child(2) {
    background-color: #b7c8ff;

    .icon {
        color: #b7c8ff;
    }
}

.item:nth-child(3) {
    background-color: #c4e5b0;

    .icon {
        color: #c4e5b0;
    }
}

.item:last-child {
    background-color: #f4c8ff;

    .icon {
        color: #f4c8ff;
    }
}

.wrapper {
    margin-top: 50px;
}

.wrapper-childrens {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-top: 50px;
}

.top-doctors {
    padding: 30px;
    border-radius: 20px;
    background-color: var(--whiteColor);
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h4 {
        font-size: 25px;
        font-weight: 600;
        color: var(--primaryColor);
    }

    & p {
        font-size: 18px;
        font-weight: 500;
        color: var(--darkGrayColor);

        &:hover {
            cursor: pointer;
            color: var(--primaryColor);
        }
    }
}

.doctors {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.doctor {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: var(--lightGreenColor);
    padding: 10px 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;

    &:hover {
        transform: scale(1.02);
        box-shadow: 0px 0px 5px var(--yellowColor);
        cursor: pointer;
    }

    & img {
        width: 100%;
        border-radius: 100px;
        width: 50px;
        height: 50px;
    }

    & div {
        width: 100%;
    }

    & div span {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & div span h4 {
        font-size: 18px;
        font-weight: 500;
    }

    & div span span {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 18px;
    }

    .stars {
        color: var(--yellowColor);
        font-size: 20px;
    }
}
