.container-parent h1 {
    font-size: 25px;
    font-weight: 600;
    color: var(--primaryColor);
    margin-bottom: 30px;
    text-align: center;
}

.container {
    width: 100%;
    overflow-x: auto;
    border-radius: 10px;

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        border: 1px solid var(--primaryColor);
        border-radius: 10px;
    }

    thead {
        background-color: var(--primaryColor);
    }

    th,
    td {
        text-align: left;
        border: 1px solid var(--primaryColor);
        text-align: center;
    }

    th {
        padding: 12px;
    }

    th {
        background-color: var(--primaryColor);
        color: var(--whiteColor);
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    /* Adding border-radius to the last row */
    tbody tr:last-of-type td:first-child {
        border-bottom-left-radius: 10px;
    }

    tbody tr:last-of-type td:last-child {
        border-bottom-right-radius: 10px;
    }

    .link {
        width: 100%;
        padding: 12px;
    }

    a {
        text-decoration: none;
        color: inherit; /* This makes sure the link looks like normal text */
        display: block; /* This makes the link fill the cell */
    }

    tbody tr:hover {
        background-color: var(--lightGreenColor); 
    }
}
