.container {
    margin-top: 30px;
    position: relative;

    & .intro {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & h4 {
            font-size: 22px;
            font-weight: 600;
        }

        & .sort {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            & label {
                font-size: 18px;
                font-weight: 600;
            }

            & select {
                border: 2px solid var(--primaryColor);
                border-radius: 5px;
                padding: 5px 10px;
                width: 160px;

                &:focus {
                    outline: none;
                }
            }
        }
    }

    & .feedback {
        border-bottom: 1px solid var(--darkGrayColor);
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 40px;

        & .user {
            display: flex;
            gap: 20px;

            & img {
                width: 40px;
                height: 40px;
                object-fit: cover;
                aspect-ratio: 1/1;
                border-radius: 50px;
            }
        }

        & .details {
            & .name-time {
                display: flex;
                align-items: center;
                gap: 50px;
            }

            & .name {
                font-size: 16px;
                font-weight: 600;
                color: var(--irisBlueColor);
            }

            & .time {
                font-size: 16px;
                color: var(--darkGrayColor);
            }

            & .rating {
                display: flex;
                gap: 3px;
                margin-top: 2px;

                & .star {
                    width: 20px;
                    height: 20px;
                    color: var(--yellowColor);
                }
            }

            & .comment {
                margin-top: 10px;
                font-size: 16px;
            }

            & .reaction {
                display: flex;
                align-items: center;
                gap: 40px;
                margin-top: 10px;

                & .react {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    &:hover {
                        cursor: pointer;
                        color: var(--irisBlueColor);
                    }
                }
            }
        }

        & .no-feedback {
            font-size: 16px;
            font-weight: 500;
            color: var(--darkGrayColor);
        }
    }

    & .feedback-btn-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 30px;

        & .feedback-btn {
            padding: 12px 24px;
            border-radius: 10px;
            background: var(--buttonBgColor);
            color: var(--whiteColor);
            font-size: 16px;
            font-weight: 500;

            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }
        }
    }
}

.form-feedback {
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    z-index: 200;
    animation: slideUp linear 0.4s forwards;
    animation-timing-function: ease-in-out;
    background: white;
    overflow-y: auto;
    width: 50%;
}

// Responsive
@media only screen and (max-width: 768px) {
    .container {
        & .intro {
            flex-direction: column;
            align-items: flex-start;

            & .sort {
                justify-content: space-between;
                gap: 0;
                width: 100%;
                margin-top: 15px;

                & select {
                    width: 60%;
                }
            }
        }

        & .feedback {
            margin-top: 20px;

            & .details {
                width: 100%;

                & .name-time {
                    justify-content: space-between;
                }
            }
        }

        & .feedback-btn-wrapper {
            & .feedback-btn {
                width: 100%;
            }
        }
    }

    .form-feedback {
        width: 90%;
    }
}
