.container {
    width: 100%;
}

.upper-part {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h4 {
        font-size: 35px;
        font-weight: 600;
    }

    & .search-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        border-radius: 10px;
        box-shadow: 0 0 10px var(--primaryColor);
        padding: 10px;
        background-color: var(--whiteColor);

        &.search-wrapper input {
            border: none;
            outline: none;
            width: 100%;
            margin-left: 10px;
            color: var(--headingColor);
            font-weight: 500;
        }

        &.search-wrapper input::placeholder {
            font-weight: 500;
        }

        & .search-icon-wrapper,
        & .close-icon-wrapper {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;

            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }
        }

        & .search-icon-wrapper {
            background-color: var(--primaryColor);
        }

        & .search-icon {
            font-size: 16px;
            color: var(--whiteColor);
        }

        & .close-icon-wrapper {
            background-color: transparent;
        }

        & .close-icon {
            font-size: 20px;
            color: var(--darkGrayColor);
        }
    }
}

.lower-part {
    margin-top: 80px;

    & .pending-doctors {
        & .title {
            font-size: 30px;
            font-weight: 600;
            color: var(--yellowColor);
        }

        & .doctors {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 30px;

            & .doctor-card {
                padding: 20px;
                border-radius: 20px;
                background-color: var(--whiteColor);
                box-shadow: 0 0 10px var(--lightGrayColor);
                transition: box-shadow 0.3s ease;

                &:hover {
                    cursor: pointer;
                }

                &:has(.buttons button:hover) {
                    box-shadow: 0 0 10px var(--lightGrayColor);
                }

                & .doctor {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    & img {
                        border-radius: 15px;
                        width: 100px;
                        height: 100px;
                    }

                    & .info {
                        width: 100%;

                        & div:first-child {
                            display: flex;
                            align-items: center;
                            margin-bottom: 5px;

                            & div {
                                display: flex;
                                align-items: center;
                                gap: 50px;
                                width: 100%;

                                & h4 {
                                    font-size: 22px;
                                    font-weight: 600;
                                    color: var(--primaryColor);
                                }

                                & span {
                                    font-size: 18px;
                                    font-weight: 500;
                                    color: var(--irisBlueColor);
                                    background-color: var(--lightGreenColor);
                                    padding: 5px 20px;
                                    border-radius: 10px;
                                }
                            }

                            & h4 {
                                font-size: 18px;
                                font-weight: 600;
                                color: var(--yellowColor);
                            }
                        }

                        & div:last-child {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            & div {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: start;
                                margin-bottom: 0;
                            }

                            & .icon-wrapper {
                                padding: 8px;
                                border-radius: 50px;
                                border: 2px solid #000;

                                &:hover {
                                    color: var(--whiteColor);
                                    cursor: pointer;
                                    background-color: var(--primaryColor);
                                    border: 2px solid var(--primaryColor);
                                }

                                & .arrow-icon {
                                    font-size: 20px;
                                }
                            }
                        }
                    }

                    & p {
                        font-size: 18px;
                        font-weight: 500;
                    }
                }

                & .buttons {
                    display: flex;
                    justify-content: flex-end;
                    gap: 30px;
                    margin-top: 5px;

                    & button {
                        width: 100px;
                        height: 40px;
                        border-radius: 10px;
                        font-weight: 500;
                    }

                    & button:first-child {
                        color: var(--primaryColor);
                        border: 3px solid var(--lightGreenColor);

                        &:hover {
                            background-color: var(--lightGreenColor);
                        }
                    }

                    & button:last-child {
                        color: var(--whiteColor);
                        background-color: var(--primaryColor);

                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }

    & .rejected-doctors {
        margin-top: 60px;

        & .title {
            font-size: 30px;
            font-weight: 600;
            color: red;
        }

        & .doctors {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 30px;

            & .doctor-card {
                padding: 20px;
                border-radius: 20px;
                background-color: var(--whiteColor);
                box-shadow: 0 0 10px var(--lightGrayColor);
                transition: box-shadow 0.3s ease;

                &:hover {
                    cursor: pointer;
                }

                &:has(.buttons button:hover) {
                    box-shadow: 0 0 10px var(--lightGrayColor);
                }

                & .doctor {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    & img {
                        border-radius: 15px;
                        width: 100px;
                        height: 100px;
                    }

                    & .info {
                        width: 100%;

                        & div:first-child {
                            display: flex;
                            align-items: center;
                            margin-bottom: 5px;

                            & div {
                                display: flex;
                                align-items: center;
                                gap: 50px;
                                width: 100%;

                                & h4 {
                                    font-size: 22px;
                                    font-weight: 600;
                                    color: var(--primaryColor);
                                }

                                & span {
                                    font-size: 18px;
                                    font-weight: 500;
                                    color: var(--irisBlueColor);
                                    background-color: var(--lightGreenColor);
                                    padding: 5px 20px;
                                    border-radius: 10px;
                                }
                            }

                            & h4 {
                                font-size: 18px;
                                font-weight: 600;
                                color: red;
                            }
                        }

                        & div:last-child {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            & div {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: start;
                                margin-bottom: 0;
                            }

                            & .icon-wrapper {
                                padding: 8px;
                                border-radius: 50px;
                                border: 2px solid #000;

                                &:hover {
                                    color: var(--whiteColor);
                                    cursor: pointer;
                                    background-color: var(--primaryColor);
                                    border: 2px solid var(--primaryColor);
                                }

                                & .arrow-icon {
                                    font-size: 20px;
                                }
                            }
                        }
                    }

                    & p {
                        font-size: 18px;
                        font-weight: 500;
                    }
                }

                & .buttons {
                    display: flex;
                    justify-content: flex-end;
                    gap: 30px;
                    margin-top: 5px;

                    & button {
                        width: 100px;
                        height: 40px;
                        border-radius: 10px;
                        font-weight: 500;

                        &:hover {
                            opacity: 0.7;
                        }
                    }

                    & button {
                        color: var(--whiteColor);
                        background-color: var(--primaryColor);
                    }
                }
            }
        }
    }

    & .official-doctors {
        margin-top: 60px;

        & .title {
            font-size: 30px;
            font-weight: 600;
            color: var(--primaryColor);
        }

        & .doctors {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 30px;
            width: 100%;
            margin-top: 20px;

            & .doctor {
                background-color: var(--lightGreenColor);
                padding: 25px;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                & div {
                    position: relative;

                    & img {
                        width: 120px;
                        height: 120px;
                        border-radius: 100px;
                    }

                    & .rating {
                        position: absolute;
                        bottom: 0;
                        margin-left: 50%;
                        transform: translate(-50%, 55%);
                        background-color: var(--whiteColor);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;
                        width: 70px;
                        height: 30px;
                        border-radius: 50px;

                        & .star {
                            color: var(--yellowColor);
                            font-size: 18px;
                        }

                        & span {
                            font-size: 16px;
                            font-weight: 500;
                        }
                    }
                }

                & h4 {
                    margin-top: 28px;
                    font-size: 22px;
                    font-weight: 600;
                }

                & p {
                    margin-top: 5px;
                    font-size: 16px;
                    font-weight: 600;
                    color: var(--darkGrayColor);
                }

                & .buttons {
                    margin-top: 25px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    & button {
                        width: 90px;
                        height: 40px;
                        border-radius: 10px;
                        font-size: 16px;
                        font-weight: 500;
                        cursor: pointer;
                        background-color: var(--primaryColor);
                        color: var(--whiteColor);

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }

            & .activeDoctor {
                box-shadow: 0 0 10px var(--yellowColor);
            }
        }

        & .chart {
            margin-top: 50px;
        }
    }
}
