.container {
    & > h4:first-child {
        font-size: 30px;
        font-weight: 600;
        background: linear-gradient(90deg, var(--primaryColor), var(--yellowColor));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    & .charts {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        & h4 {
            font-size: 25px;
        }
        
        & .charts {
            display: none;
        }
    }
}
