.container {
    padding: 100px 120px 80px 120px;
    background-image: url(../../assets/images/Blur.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
