.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 120px;
    background-image: url(../../assets/images/mask.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    width: 100%;
    z-index: 100;

    & .logo {
        width: 80px;
        height: 80px;
    }

    & .navigation {
        display: flex;
        position: relative;

        & .menu {
            display: flex;
            gap: 40px;

            & .close-icon-wrapper {
                display: none;
            }

            & .link {
                font-size: var(--subheading);
                font-weight: var(--textWeight);

                &:hover {
                    cursor: pointer;
                    color: var(--primaryColor);
                    font-weight: 550;
                }
            }

            & .active {
                color: var(--primaryColor);
                font-weight: 550;
            }

            & .link-icon {
                width: 25px;
                height: 25px;
                display: none;
            }
        }
    }

    & .avatar {
        width: 50px;
        height: 50px;
        object-fit: cover;
        aspect-ratio: 1/1;
        border-radius: 100px;
    }

    & .authentication {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 10px 15px;
        transition: background-color 0.3s, box-shadow 0.3s;

        & > div:first-child {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        & .inner {
            display: flex;
            align-items: center;
            gap: 15px;
            transition: transform 0.3s ease;
            position: absolute;
            right: 185px;
            padding: 10px 15px;
            border-radius: 10px;
            z-index: 1;
        }

        & .isLogin {
            padding: 10px 15px;
            border-radius: 10px;

            &:hover {
                cursor: pointer;
                background-color: var(--lightGreenColor);
                box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
            }
        }

        & .profileActive {
            background-color: var(--lightGreenColor);
        }

        & > div:first-child:hover {
            & .inner {
                transform: translateX(-55px);
            }

            & .logout-btn {
                opacity: 1;
            }
        }

        & .hidden {
            display: none;
        }

        & .info {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        & .name {
            & h4 {
                font-size: 16px;
                font-weight: 600;
                color: var(--primaryColor);
            }

            & p {
                font-size: 14px;
                color: var(--darkGrayColor);
            }
        }

        & .logout-btn {
            color: var(--whiteColor);
            background-color: #000;
            font-size: 20px;
            padding: 10px;
            border-radius: 100px;
            margin-left: 10px;
            opacity: 0;
            transition: opacity 0.3s ease;
            z-index: 0;

            &:hover {
                opacity: 0.7 !important;
            }
        }

        & .noti {
            position: relative;

            &.open::after {
                display: block;
                z-index: 1000;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: -18px;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 10px;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-bottom: 15px solid var(--whiteColor);
                display: none;
            }

            &:hover {
                cursor: pointer;
            }

            @keyframes shake {
                0% {
                    transform: rotate(0deg);
                }
                20% {
                    transform: rotate(-10deg);
                }
                40% {
                    transform: rotate(10deg);
                }
                60% {
                    transform: rotate(-10deg);
                }
                80% {
                    transform: rotate(10deg);
                }
                100% {
                    transform: rotate(0deg);
                }
            }

            & .icon {
                font-size: 32px;
                color: var(--primaryColor);
                transition: transform 0.3s ease-in-out;

                &.shake {
                    animation: shake 0.5s ease-in-out 4; /* 4 x 0.5s = 2s -> loop 2s */
                }
            }

            & div {
                position: absolute;
                top: 0;
                right: 1px;
                color: var(--whiteColor);
                border-radius: 50px;
                background-color: var(--yellowColor);
                font-size: 10px;
                width: 15px;
                height: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;
                z-index: 2;
            }
        }

        & .login,
        & .register {
            background-color: var(--buttonBgColor);
            color: var(--whiteColor);
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            padding: 8px 16px;
            border-radius: 50px;

            &:hover {
                opacity: 0.7;
            }
        }

        & .menu-icon {
            width: 30px;
            height: 30px;
            display: none;
        }
    }
}

.logout {
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    z-index: 200;
    background: white;
    overflow-y: auto;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}


// Responsive design
@media only screen and (max-width: 1024px) {
    .container {
        padding: 5px 20px;
        background-color: var(--primaryColor);

        & .logo {
            width: 60px;
            height: 60px;
        }

        & .overlay {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 5;
            background: #00000084;
            display: none;
            animation: fadeIn linear 0.2s;
        }

        & .nav-input:checked ~ .overlay {
            display: block;
        }

        & .nav-input:checked ~ .menu {
            transform: translateX(0);
            opacity: 1;
        }

        & .close-icon-wrapper {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }

        & .close-icon {
            width: 30px;
            height: 30px;

            &:hover {
                background-color: red;
                border-radius: 100px;
            }
        }

        & .menu {
            width: 15rem;
            height: 100%;
            padding: 10px;
            position: fixed;
            top: 0;
            right: 0;
            background: #fff;
            z-index: 10;
            display: block;
            transform: translateX(100%);
            opacity: 0;
            transition: transform linear 0.2s, opacity linear 0.2s;
        }

        & .menu-icon {
            display: block;
        }

        & .link {
            margin: 30px;
            display: flex;
            align-items: center;
            gap: 12px;
        }

        & .link-icon {
            display: block;
        }

        & .login,
        & .register {
            font-size: 14px;
        }
    }
}
