.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    & h4 {
        font-size: 30px;
        font-weight: 600;
    }

    & .search-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        border-radius: 10px;
        box-shadow: 0 0 10px var(--primaryColor);
        padding: 10px;
        background-color: var(--whiteColor);

        &.search-wrapper input {
            border: none;
            outline: none;
            width: 100%;
            margin-left: 10px;
            color: var(--headingColor);
            font-weight: 500;
        }

        &.search-wrapper input::placeholder {
            font-weight: 500;
        }

        & .search-icon-wrapper,
        & .close-icon-wrapper {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;

            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }
        }

        & .search-icon-wrapper {
            background-color: var(--primaryColor);
        }

        & .search-icon {
            font-size: 16px;
            color: var(--whiteColor);
        }

        & .close-icon-wrapper {
            background-color: transparent;
        }

        & .close-icon {
            font-size: 20px;
            color: var(--darkGrayColor);
        }
    }
}