.container main {
    position: relative;

    & .fab-container {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 250;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: transparent;
        transition: width 0.3s, height 0.3s, background-color 0.3s, box-shadow 0.3s;
        transform: rotate(180deg);

        &.hovered {
            width: 125px;
            height: 125px;
            background-color: rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 100px var(--darkGrayColor);

            & .fab-options {
                opacity: 1;
                pointer-events: auto;
            }
        }

        & .fab-button {
            position: absolute;
            width: 50px;
            height: 50px;
            background-color: var(--primaryColor);
            border-radius: 50%;
            box-shadow: 0 0 10px var(--darkGrayColor);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: transform 0.3s, background-color 0.3s;

            &.rotate {
                transform: rotate(-45deg);
                background-color: red;
            }

            .icon {
                color: var(--whiteColor);
                font-size: 22px;
            }
        }

        & .fab-options {
            position: relative;
            width: 100%;
            height: 100%;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s;

            & .icon-wrapper {
                position: absolute;
                width: 50px;
                height: 50px;
                background-color: var(--primaryColor);
                border-radius: 50%;
                box-shadow: 0 0 10px var(--darkGrayColor);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.3s;
                cursor: pointer;

                &:active {
                    transform: scale(0.8);
                }

                & .icon-1 {
                    color: var(--whiteColor);
                    font-size: 25px;
                }

                & .icon-2 {
                    color: var(--whiteColor);
                    font-size: 30px;
                }
            }

            & .icon-wrapper:nth-child(1) {
                bottom: -15px;
                left: 20px;
            }

            & .icon-wrapper:nth-child(2) {
                top: 30px;
                right: -20px;
            }
        }
    }

    & .chatbot-wrapper {
        display: none;
        position: fixed;
        width: max-content;
        bottom: 85px;
        right: 20px;
        z-index: 200;
        transform: scale(0.9);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
        transform-origin: bottom right;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 10px var(--darkGrayColor);

        &.show {
            display: block;
            transform: scale(1);
            opacity: 1;
        }
    }
}
