:root {
    --primaryColor: #30d5c8;
    --buttonBgColor: linear-gradient(to right, var(--primaryColor), var(--irisBlueColor));
    --yellowColor: #feb60d;
    --purpleColor: #9771ff;
    --irisBlueColor: #01b5c5;
    --headingColor: #181a1e;
    --textColor: #4e545f;
    --whiteColor: #fff;
    --greenColor: #76d45e;
    --grayColor: #c0c0c0;
    --darkGrayColor: #8a92a6;
    --lightGrayColor: #cdcdcd;
    --lightYellowColor: #fffacd;
    --darkYellowColor: #bdb66b;
    --lightGreenColor: #ccf0f3;
    --extremeLightGreenColor: #f6fef6;
    --extremeLightGrayColor: #f8f8f8;
    --lightRedColor: rgba(255, 182, 193, 0.3);
    --darkRedColor: #b22222;

    --subheading: 18px;
    --textSize: 14px;
    --textWeight: 450;

    --black-01: rgba(var(--black-rgb), 0.01);
    --black-08: rgba(var(--black-rgb), 0.08);
    --black-12: rgba(var(--black-rgb), 0.12);
    --black-05: rgba(var(--black-rgb), 0.05);

    --black-rgb: 0, 0, 0;
    --primary-rgb: 48, 213, 200;

    --primaryColor: #30d5c8;
    --primary-08: rgba(var(--primary-rgb), 0.08);
    --primary-10: rgba(var(--primary-rgb), 0.1);
    --primary-20: rgba(var(--primary-rgb), 0.2);
}
