.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    & h2 {
        font-size: 50px;
        font-weight: 700;
        line-height: 60px;
    }

    & .search-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        width: 70%;
        padding: 10px;
        border-radius: 10px;
        background-color: var(--whiteColor);
        box-shadow: 0 0 20px var(--primaryColor);

        & input {
            width: 90%;
            border: none;
            outline: none;
            margin-left: 10px;
            color: var(--headingColor);
            font-weight: 520;

            &::placeholder {
                font-weight: 500;
            }
        }

        & .search-icon-wrapper,
        & .close-icon-wrapper {
            padding: 10px;
            border-radius: 5px;

            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }
        }

        & .search-icon-wrapper {
            background-color: var(--primaryColor);

            & .search-icon {
                font-size: 20px;
                color: var(--whiteColor);
            }
        }

        & .close-icon-wrapper {
            background-color: transparent;

            & .close-icon {
                font-size: 20px;
                color: var(--darkGrayColor);
            }
        }
    }
}

// Responsive
@media only screen and (max-width: 768px) {
    .container {
        & h2 {
            font-size: 32px;
            line-height: normal;
        }

        & .search-wrapper {
            width: 100%;
            margin-top: 20px;
            box-shadow: 0 0 10px var(--primaryColor);

            & input {
                font-size: 16px;
                width: 80%;
            }

            & .search-icon-wrapper,
            & .close-icon-wrapper {
                & .search-icon,
                & .close-icon {
                    font-size: 16px;
                }
            }
        }
    }
}
