.container-parent {
    padding: 140px 120px 100px 120px;

    & .container {
        display: flex;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        gap: 50px;

        & .profile-mobile-btn {
            position: fixed;
            top: 70px;
            left: 0;
            background-color: var(--primaryColor);
            padding: 5px 10px;
            font-size: 16px;
            color: var(--whiteColor);
            font-weight: 600;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            z-index: 100;
        }

        & .info {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;

            & img {
                width: 70%;
                border-radius: 10px;
                border: 5px solid var(--primaryColor);
                object-fit: cover;
                aspect-ratio: 1/1;
            }

            & h1 {
                font-size: 22px;
                font-weight: 600;
                margin-top: 15px;
            }

            & h4 {
                font-size: 18px;
                margin-bottom: 10px;
                color: var(--darkGrayColor);
            }

            & p {
                font-size: 16px;
                color: var(--darkGrayColor);
            }

            & div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                width: 100%;
                margin-top: 30px;

                & button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    background-color: var(--primaryColor);
                    width: 80%;
                    padding: 10px 0;
                    border-radius: 5px;
                    color: var(--whiteColor);
                    font-size: 16px;

                    &:hover {
                        cursor: pointer;
                        opacity: 0.8;
                    }
                }

                & button:last-child {
                    background-color: black;
                }
            }
        }

        & .bookings {
            width: 70%;
            height: inherit;
            display: flex;
            flex-direction: column;
            align-items: center;

            & h1 {
                font-size: 25px;
                font-weight: 600;
                color: var(--primaryColor);
                margin-bottom: 30px;
            }
        }
    }
}

.form-update {
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    z-index: 200;
    animation: slideUp linear 0.4s forwards;
    animation-timing-function: ease-in-out;
    background: white;
    overflow-y: auto;

    &.update-info {
        width: 70%;
    }

    &.change-password {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.logout {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// Responsive
@media only screen and (max-width: 768px) {
    .container-parent {
        padding: 80px 20px 0 20px;

        & .container {
            flex-direction: column;

            & .info {
                width: 100%;
                display: none;
            }

            & .bookings {
                width: 100%;

                & h1 {
                    margin-top: 25px;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        & img {
            width: 70%;
            border-radius: 10px;
            border: 5px solid var(--primaryColor);
            object-fit: cover;
            aspect-ratio: 1/1;
        }

        & h1 {
            font-size: 22px;
            font-weight: 600;
            margin-top: 15px;
        }

        & h4 {
            font-size: 18px;
            margin-bottom: 10px;
            color: var(--darkGrayColor);
        }

        & p {
            font-size: 16px;
            color: var(--darkGrayColor);
        }

        & div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            width: 100%;
            margin-top: 30px;

            & button {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                background-color: var(--primaryColor);
                width: 100%;
                padding: 10px 0;
                border-radius: 5px;
                color: var(--whiteColor);
                font-size: 16px;

                &:hover {
                    cursor: pointer;
                    opacity: 0.8;
                }
            }

            & button:last-child {
                background-color: black;
            }
        }
    }

    .form-update {
        &.update-info {
            width: 90%;
            height: 90%;
            padding: 20px;
        }

        &.change-password {
            width: 90%;
        }

        &.logout {
            width: 80%;
        }
    }
}
